/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --background-color: #000028;
  --main-font: 'IBM Plex Mono', monospace;
  --font-size: 18px;
}
  

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  
}





