/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: grid;
  gap: 40px;
  font-family: var(--main-font);
  font-size: var(--font-size);
  background-image: url(/images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 355px;
  grid-template-rows: 26px 138px 257px 203px;
  max-width: 375px;
  min-height: 668px;
  padding: 10px;
}

.decorated-zone::before {
  content: '';
  width: 25.036px;
  height: 25.002px;
  border-block-start: 1px solid var(--accent-color);
  border-block-end: none;
  border-inline-start: none;
  border-inline-end: 1px solid var(--accent-color);
  justify-self: end;
  position: absolute;
}

.decorated-zone::after {
  content: '';
  width: 25.036px;
  height: 25.002px;
  border-block-start: none;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  border-inline-end: none;
  align-self: end;
  position: absolute;
}

.dark__theme-item-only {
  max-width: 52px;
  max-height: 26px;
  display: flex;
  color: var(--accent-color);
  justify-self: end;
  justify-content: end;
  align-items: center;
  position: absolute;
  gap: 10px;
  margin: 0 8px 0 0;
}

.dark__theme-item-only::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.header__theme-menu {
  color: var(--accent-color);
  text-align: center;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  justify-self: end;
  align-self: end;
  grid-row-start: 2;
  grid-row-end: 3;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  align-self: end;
  justify-self: end;
}

.header__theme-menu-button {
  background-color: transparent;
  border-color: transparent;
  padding: 1.5px 13px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-start: none;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: none;
  border-inline-end: none;  
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.40);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-title {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  grid-row: 3/4;
  align-self: end;
}

.title-decor {
  color: var(--title-decor-color);
  background-color: var(--accent-color);
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  max-height: 117px;
  max-width: 355px;
  grid-row: 4/5;
  align-self: center;
  margin-block-start: 20px;
}

.content {
  display: grid;
  grid-template-columns: 355px;
  grid-template-rows: 949px 1119px 1737px 1400px;
  gap: 50px;
  font-family: var(--main-font);
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  max-width: 375px;
}

.content .title-decor {
  margin-block-start: 0;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-title {
  align-self: start;
  color: var(--accent-color);
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  min-width: 100%;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-content .title-decor {
  width: 100%;
}

.section-text-content {
  color: var(--text-color);
  text-align: start;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.text-link {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.text-link:focus {
  outline: none;  
}

.text-link:focus-visible {
  border: 1px solid var(--text-color);
}

.text-link:hover {
  border-block-start: none;
  border-block-end: 1px solid var(--text-color);
  border-inline-start: none;
  border-inline-end: none;
}

.solution {
  font-weight: 400;
}

.galery {
  display: grid;
  grid-template-columns: 355px;
  grid-template-rows: 24px 1366px;
  gap: 10px;
}

.galery .title-decor {
  grid-row: 1/2;
}

.image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.pictures-section {
  display: grid;
  grid-template-columns: 355px;
  grid-template-rows: 142px 355px 237px 355px 237px;
  gap: 10px;
}

.sunset {
  grid-row: 1/2;
}

.ice-cream {
  grid-row: 2/3;
}

.tape {
  grid-row: 3/4;
}

.books {
  grid-row: 4/5;
}

.street {
  grid-row: 5/6;
}

.footer {
  display: grid;
  grid-template-columns: 355px;
  grid-template-rows: 26px 642px;
  max-width: 375px;
  max-height: 668px;
  padding: 10px;
}

.footer__theme-title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: var(--main-font);
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  grid-row: 2/3;
  padding: 251px 3px 250px 4px;
}

@media (width >= 768px) {
  .page {
    display: grid;
    gap: 60px;
  }
  
  .header {
    display: grid;
    grid-template-columns: 728px;
    grid-template-rows: 26px 245px 434px 300px;
    max-width: 768px;
    max-height: 1024px;
    padding: 20px;
  }

  .header__theme-title {
    padding: 140px 0 162px;
    margin-inline-start: -20px;
  }

  .title-decor {
    justify-self: end;
    align-self: start;
    margin-block-start: 0;
    min-width: 364px;
  }

  .content {
    display: grid;
    grid-template-columns: 728px;
    grid-template-rows: 648px 675px 1296px 823px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    gap: 80px;
    max-width: 768px; 
  }

  .first-block {
    display: grid;
    grid-template-columns: 236px 2fr;
  }
  
  .first-block .title-decor {
    min-width: 472px;
    max-height: 23px;
  }

  .section-content {
    grid-column: 2/3;
  }

  .second-block {
    display: grid;
    grid-template-columns: 236px 2fr;
    grid-template-rows: 70px 174px 174px 197px;
  }

  .second-block .section-title {
    grid-column: 1/2;
  }

  .second-block .section-content {
    grid-column: 1/3;
  }

  .second-block .title-decor {
    min-width: 100%;
  }

  .third-block {
    display: grid;
    grid-template-columns: 236px 2fr;
  }

  .third-block .section-title {
    grid-row: 1/7;
  }
  
  .third-block .title-decor {
    min-width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .galery {
    display: grid;
    grid-template-columns: 728px;
    grid-template-rows: 23px 780px;
    gap: 20px;
  }

  .galery .title-decor {
    min-width: 100%;
  }
  
  .pictures-section {
    display: grid;
    grid-template-columns: 229px 230px 229px;
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }
  
  .sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .ice-cream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .tape {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .footer {
  display: grid;
  grid-template-columns: 728px;
  grid-template-rows: 25px 959px;
  max-width: 768px;
  max-height: 1024px;
  padding: 20px;
}

.footer__theme-title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: var(--main-font);
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  grid-row: 2/3;
  padding: 418px 184px 417px;
}
  
}

@media (width >= 1024px) {
  
  .header {
    display: grid;
    grid-template-columns: 984px;
    grid-template-rows: 25px 517px 185px;
    max-width: 1024px;
    max-height: 768px;
    padding: 20px;
  }

  .header__theme-menu {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }
  
  .header__theme-title {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
    padding: 274px 0 114px;
  }

  .title-decor {
    grid-row: 3/4;
    min-width: 491px;
  }

  .content {
    display: grid;
    grid-template-columns: 984px;
    grid-template-rows: 508px 498px 1015px 1091px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    gap: 80px;
    max-width: 1024px; 
  }

  .first-block {
    display: grid;
    grid-template-columns: 315px 2fr;
  }

  .first-block .title-decor {
    min-width: 100%;
    max-height: 23px;
  }

  .second-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 47px 451px;
  }

  .second-block .section-title {
    grid-column: 1/2;
  }

  .section-content.multitask {
    grid-column: 1/2;
  }

  .section-content.food {
    grid-column: 2/3;
  }

  .section-content.gadgets {
    grid-column: 3/4;
  }

  .third-block {
    display: grid;
    grid-template-columns: 315px 2fr;
  }

  .galery {
    display: grid;
    grid-template-columns: 984px;
    grid-template-rows: 23px 1068px;
    gap: 20px;
  }

  .pictures-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 315px 423px;
    gap: 20px;
  }

  .footer {
  display: grid;
  grid-template-columns: 984px;
  grid-template-rows: 25px 703px;
  max-width: 1024px;
  max-height: 768px;
  padding: 20px;
}

.footer__theme-title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: var(--main-font);
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  grid-row: 2/3;
  padding: 274px 256px 319px;
}

}


