/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-decor-color: #000028;
  --main-font: 'IBM Plex Mono', monospace;
  --font-size: 18px;
}